<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.stats.dao.StatsDAO">

    <!-- 게임 목록 -->
    <select id="list" resultType="com.toast.stats.dto.StatsDTO">
        SELECT game_idx, game_name, game_type FROM game_list
    </select>

    <select id="getAddr" resultType="String">
        SELECT market_addr FROM game_market_list WHERE game_idx = #{param1} AND game_market = #{param2}
    </select>
</mapper>