<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.rent.dao.ResourceDAO">
	
	<!-- 카테고리 목록 가져오기 -->
	<select id="resourceCate" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT prod_cate_idx, prod_cate_name, prod_life FROM product_category  
	</select>

	<!-- 카테고리 검색 -->
	<select id="categroySearch" resultType="map">
		SELECT prod_cate_idx,prod_cate_name FROM product_category 
			WHERE prod_cate_name LIKE CONCAT('%', #{param1}, '%')
		 
	</select>

	<!-- 총 페이지 -->
	<select id="allCount" resultType="int">
		SELECT CEIL(COUNT(prod_idx)/#{param1}) AS pages FROM product
	</select>

	<!-- 물품 목록 가져오기 --><!-- 페이징 포함 -->
	<select id="resourceList" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_exp_date
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		LEFT JOIN 
			(
        		SELECT 
            		pr.prod_idx,
            		pr.prod_exp_date,
            		pr.prod_rent_idx
        		FROM 
            		product_rent pr
        		WHERE 
            		pr.prod_rent_idx = (
                		SELECT MAX(prod_rent_idx) 
                		FROM product_rent 
                		WHERE prod_idx = pr.prod_idx
            		)
    		) pr ON pr.prod_idx = pd.prod_idx
		ORDER BY prod_idx DESC 
			LIMIT #{param1} OFFSET #{param2}		
	</select>


	<!-- 카테고리별 총 페이지 -->
	<select id="filterListCount" resultType="int">
		SELECT CEIL(COUNT(prod_idx)/#{param1}) AS pages FROM product WHERE prod_cate_idx=#{param2}
	</select>

	<!--카테고리별 물품 목록 가져오기 --><!-- 페이징 포함 -->
	<select id="resourceFilterList" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_exp_date
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		LEFT JOIN 
			(
        		SELECT 
            		pr.prod_idx,
            		pr.prod_exp_date,
            		pr.prod_rent_idx
        		FROM 
            		product_rent pr
        		WHERE 
            		pr.prod_rent_idx = (
                		SELECT MAX(prod_rent_idx) 
                		FROM product_rent 
                		WHERE prod_idx = pr.prod_idx
            		)
    		) pr ON pr.prod_idx = pd.prod_idx
		WHERE 
			pd.prod_cate_idx=#{param1}
		ORDER BY prod_idx DESC 
			LIMIT #{param2} OFFSET #{param3}		
	</select>



	<!-- 카테고리 & 검색어 총 페이지 -->
	<select id="allSearchCount" resultType="int">
		SELECT CEIL(COUNT(prod_idx)/#{param1}) AS pages 
		FROM 
			product 
		WHERE 
			#{param2} LIKE CONCAT('%', #{param3}, '%')
	</select>

	<!--카테고리 & 검색어 물품 목록 가져오기 --><!-- 페이징 포함 -->
	<select id="resourceSearchList" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_exp_date
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		LEFT JOIN 
						(
        		SELECT 
            		pr.prod_idx,
            		pr.prod_exp_date,
            		pr.prod_rent_idx
        		FROM 
            		product_rent pr
        		WHERE 
            		pr.prod_rent_idx = (
                		SELECT MAX(prod_rent_idx) 
                		FROM product_rent 
                		WHERE prod_idx = pr.prod_idx
            		)
    		) pr ON pr.prod_idx = pd.prod_idx
		WHERE 
		<choose>
        	<when test="param1 == 'prod_name'">
            	pd.prod_name LIKE CONCAT('%', #{param2}, '%')
        	</when>
        	<when test="param1 == 'prod_info'">
            	pd.prod_info LIKE CONCAT('%', #{param2}, '%')
        	</when>
        	<otherwise>
            	1 = 1 <!-- 조건이 없으면 모든 데이터를 반환 -->
        	</otherwise>
    	</choose>
		ORDER BY prod_idx DESC 
			LIMIT #{param3} OFFSET #{param4}		
	</select>


	<!-- 물품 상세보기 --> <!-- 첨부파일, 이미지, 대여정보도 봐야함 -->
	<!-- <select id="prodDetail">
		SELECT 
			prod_name, 
			prod_model, 
			prod_info 
		FROM 
	</select> -->


















</mapper>