<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.rent.dao.ResourceDAO">



	<!-- 사원정보 가져오기 -->
	<select id="getEmpl">
		SELECT empl_idx FROM employee WHERE empl_id=#{param1}
	</select>
	
	<!-- 카테고리 목록 가져오기 -->
	<select id="resourceCate" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT prod_cate_idx, prod_cate_name, prod_life FROM product_category  
	</select>

	<!-- 카테고리 검색 -->
	<select id="categroySearch" resultType="map">
		SELECT prod_cate_idx,prod_cate_name FROM product_category 
			WHERE prod_cate_name LIKE CONCAT('%', #{param1}, '%')
		 
	</select>

	<!-- 총 페이지 -->
	<select id="allCount" resultType="int">
		SELECT CEIL(COUNT(prod_idx)/#{param1}) AS pages 
		FROM 
			product
		WHERE  
    		prod_state=1
	</select>

	<!-- 물품 목록 가져오기 --><!-- 페이징 포함 -->
	<select id="resourceList" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_exp_date
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		LEFT JOIN 
			(
        		SELECT 
            		pr.prod_idx,
            		pr.prod_exp_date,
            		pr.prod_rent_idx
        		FROM 
            		product_rent pr
        		WHERE 
            		pr.prod_rent_idx = (
                		SELECT MAX(prod_rent_idx) 
                		FROM product_rent 
                		WHERE prod_idx = pr.prod_idx
            		)
    		) pr ON pr.prod_idx = pd.prod_idx
    	WHERE
    		pd.prod_state=1
		ORDER BY prod_idx DESC 
			LIMIT #{param1} OFFSET #{param2}		
	</select>


	<!-- 카테고리별 총 페이지 -->
	<select id="filterListCount" resultType="int">
		SELECT CEIL(COUNT(prod_idx)/#{param1}) AS pages 
		FROM 
			product 
		WHERE 
			prod_cate_idx=#{param2}
		AND 
    		prod_state=1
	</select>

	<!--카테고리별 물품 목록 가져오기 --><!-- 페이징 포함 -->
	<select id="resourceFilterList" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_exp_date
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		LEFT JOIN 
			(
        		SELECT 
            		pr.prod_idx,
            		pr.prod_exp_date,
            		pr.prod_rent_idx
        		FROM 
            		product_rent pr
        		WHERE 
            		pr.prod_rent_idx = (
                		SELECT MAX(prod_rent_idx) 
                		FROM product_rent 
                		WHERE prod_idx = pr.prod_idx
            		)
    		) pr ON pr.prod_idx = pd.prod_idx
		WHERE 
			pd.prod_cate_idx=#{param1}
		AND 
    		pd.prod_state=1
		ORDER BY prod_idx DESC 
			LIMIT #{param2} OFFSET #{param3}		
	</select>



	<!-- 카테고리 & 검색어 총 페이지 -->
	<select id="allSearchCount" resultType="int">
		SELECT CEIL(COUNT(prod_idx)/#{param1}) AS pages 
		FROM 
			product 
		WHERE 
			#{param2} LIKE CONCAT('%', #{param3}, '%')
		AND 
    		prod_state=1
	</select>

	<!--카테고리 & 검색어 물품 목록 가져오기 --><!-- 페이징 포함 -->
	<select id="resourceSearchList" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_exp_date
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		LEFT JOIN 
						(
        		SELECT 
            		pr.prod_idx,
            		pr.prod_exp_date,
            		pr.prod_rent_idx
        		FROM 
            		product_rent pr
        		WHERE 
            		pr.prod_rent_idx = (
                		SELECT MAX(prod_rent_idx) 
                		FROM product_rent 
                		WHERE prod_idx = pr.prod_idx
            		)
    		) pr ON pr.prod_idx = pd.prod_idx
		WHERE 
		<choose>
        	<when test="param1 == 'prod_name'">
            	pd.prod_name LIKE CONCAT('%', #{param2}, '%')
        	</when>
        	<when test="param1 == 'prod_info'">
            	pd.prod_info LIKE CONCAT('%', #{param2}, '%')
        	</when>
        	<otherwise>
            	1 = 1 <!-- 조건이 없으면 모든 데이터를 반환 -->
        	</otherwise>
    	</choose>
    	AND 
    		pd.prod_state=1
		ORDER BY prod_idx DESC 
			LIMIT #{param3} OFFSET #{param4}		
	</select>


	<!-- 카테고리선택 & 검색어 총 페이지 -->
	<select id="filterSearchCount" resultType="int">
		SELECT CEIL(COUNT(prod_idx)/#{param1}) AS pages 
		FROM 
			product 
		WHERE 
			#{param2} LIKE CONCAT('%', #{param3}, '%')
		AND 
			prod_cate_idx=#{param4}
		AND 
    		prod_state=1
	</select>

	<!--카테고리선택 & 검색어 물품 목록 가져오기 --><!-- 페이징 포함 -->
	<select id="filterSearchList" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_exp_date
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		LEFT JOIN 
						(
        		SELECT 
            		pr.prod_idx,
            		pr.prod_exp_date,
            		pr.prod_rent_idx
        		FROM 
            		product_rent pr
        		WHERE 
            		pr.prod_rent_idx = (
                		SELECT MAX(prod_rent_idx) 
                		FROM product_rent 
                		WHERE prod_idx = pr.prod_idx
            		)
    		) pr ON pr.prod_idx = pd.prod_idx
		WHERE 
		<choose>
        	<when test="param1 == 'prod_name'">
            	pd.prod_name LIKE CONCAT('%', #{param2}, '%')
        	</when>
        	<when test="param1 == 'prod_info'">
            	pd.prod_info LIKE CONCAT('%', #{param2}, '%')
        	</when>
        	<otherwise>
            	1 = 1 <!-- 조건이 없으면 모든 데이터를 반환 -->
        	</otherwise>
    	</choose>
    	AND 
    		pd.prod_cate_idx=#{param3}
    	AND 
    		pd.prod_state=1
		ORDER BY prod_idx DESC 
			LIMIT #{param4} OFFSET #{param5}		
	</select>

	<!-- 물품 상세보기 --> <!-- 대여정보도 봐야함 -->
	<select id="prodDetail" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
		    prod_idx,
		    prod_name,
		    prod_model,
		    prod_info
		FROM 
		    product
		WHERE prod_idx = #{prod_idx} AND prod_state = 1
	</select>

	<select id="prodRentDetail" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
		    pd.prod_idx,
		    pd.prod_rent,
		    pd.prod_place,
		    pr.prod_rent_idx,
		    pr.prod_exp_date,
		    pr.prod_rent_date
		FROM 
		    product pd
		LEFT JOIN 
		    product_rent pr 
		    ON pr.prod_idx = pd.prod_idx 
		    AND pr.prod_rent_idx = (
		        SELECT MAX(prod_rent_idx)
		        FROM product_rent
		        WHERE prod_idx = pd.prod_idx
		    )
		WHERE 
		    pd.prod_idx = #{prod_idx} AND pd.prod_state = 1
	</select>

	<!-- 물품 대여신청 -->
	<insert id="rentRequest" parameterType="com.toast.rent.dto.ResourceDTO">
		INSERT INTO product_rent(prod_idx,prod_rent_empl_idx, prod_rent_reason, prod_rent_date, prod_exp_date, prod_return_state)
			VALUES(#{prod_idx}, #{prod_rent_empl_idx}, #{prod_rent_reason}, #{prod_rent_date}, #{prod_exp_date}, #{prod_return_state})
	</insert>


	<!-- 물품 대여 상태 업뎃 -->
	<update id="updateRentState" parameterType="com.toast.rent.dto.ResourceDTO">
		UPDATE product SET prod_rent=#{prod_rent} WHERE prod_idx=#{prod_idx}
	</update>

	<!-- 내 대여기록 가져오기 -->
	<select id="myRentList" resultType="com.toast.rent.dto.ResourceDTO">
		SELECT 
			prod_rent_idx,
			prod_idx,
			prod_rent_reason,
			prod_rent_date,
			prod_exp_date,
			prod_return_date,
			prod_return_state
		FROM
			product_rent
		WHERE 
			prod_rent_empl_idx=#{param1}
		ORDER BY prod_rent_idx DESC 
	</select>

	<!-- 내 대여 총 페이지 -->
	<select id="myAllCount">
		SELECT CEIL(COUNT(pd.prod_idx)/#{param1}) AS pages 
		FROM 
			product_rent pr
		JOIN 
			product pd ON pr.prod_idx=pd.prod_idx
		WHERE  
    		pr.prod_rent_empl_idx=#{param2}
	</select>


	<!-- 내 대여 총 리스트 -->
	<select id="myProdList">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_rent_idx,
			pr.prod_rent_reason,
			pr.prod_rent_date,
			pr.prod_exp_date,
			pr.prod_return_date,
			pr.prod_return_state
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		JOIN 
			product_rent pr ON pr.prod_idx=pd.prod_idx
    	WHERE
    		pr.prod_rent_empl_idx=#{param1}
		ORDER BY prod_rent_idx DESC 
			LIMIT #{param2} OFFSET #{param3}	
	</select>
	
	<!-- 내 반납 총 페이지 -->
	<select id="myReturnListCount">
		SELECT CEIL(COUNT(pd.prod_idx)/#{cnt}) AS pages 
		FROM 
			product_rent pr
		JOIN 
			product pd ON pr.prod_idx=pd.prod_idx
		WHERE  
    		pr.prod_rent_empl_idx=#{empl_idx} AND pr.prod_return_state=#{state}
	</select>
	
	
	<!-- 내 반납 총 리스트 -->
	<select id="myReturnList">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pc.prod_cate_name,
			pr.prod_rent_idx,
			pr.prod_rent_reason,
			pr.prod_rent_date,
			pr.prod_exp_date,
			pr.prod_return_date,
			pr.prod_return_state
		FROM 
			product pd
		JOIN 
			product_category pc ON pd.prod_cate_idx=pc.prod_cate_idx
		JOIN 
			product_rent pr ON pr.prod_idx=pd.prod_idx
    	WHERE
    		pr.prod_rent_empl_idx=#{empl_idx} AND pr.prod_return_state=#{state}
		ORDER BY prod_rent_idx DESC 
			LIMIT #{limit} OFFSET #{offset}	
	</select>
	
	
	<!-- 내 대여 상세보기 -->
	<select id="myRentDetail">
		SELECT 
			pd.prod_idx,
			pd.prod_name, 
			pd.prod_cate_idx, 
			pd.prod_model,
			pd.prod_info,
			pd.prod_rent, 
			pd.prod_place,
			pd.prod_empl_idx, 
			pd.prod_dispo_date, 
			pd.prod_state,
			pr.prod_rent_idx,
			pr.prod_rent_reason,
			pr.prod_rent_date,
			pr.prod_exp_date,
			pr.prod_return_date,
			pr.prod_return_state
		FROM 
			product pd
		JOIN 
			product_rent pr ON pr.prod_idx=pd.prod_idx
    	WHERE
    		pr.prod_rent_idx=#{param1}
	</select>
	
	<!-- 파일키 가져오기 -->
	<select id="getProdFileKey" resultType="String">
		SELECT file_key FROM product_file WHERE prod_idx=#{param1}
	</select>
	
	<!-- 물품  첨부파일 가져오기-->
	<select id="prodFile" resultType="com.toast.rent.dto.ResourcePhotoDTO">
		SELECT 		
			file_idx, file_key, ori_filename, new_filename, file_type, file_addr, uploader_idx
		FROM 
			file
		WHERE file_key=#{param1}
	</select>
	
	<!-- 물품 idx가져오기 -->
	<select id="getIdx" resultType="int">
		SELECT prod_idx
		FROM product_rent
		WHERE prod_rent_idx=#{param1}
	</select>
	
	
	<!-- 대여 신청 취소 물품 상태 업뎃 -->
	<update id="rentCancel">
		UPDATE product
		SET prod_rent=#{param1}
		WHERE prod_idx=#{param2}
	</update>
	
	<!-- 대여 신청 취소 사용자 삭제 -->
	<delete id="rentReturnCancel">
		DELETE FROM product_rent
			WHERE prod_rent_idx=#{param1}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>