<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.employee_add.dao.EmployeeAddDAO">
    <insert id="empl_add_all" parameterType = "list">
        INSERT INTO employee(empl_name,empl_id,empl_pw,empl_gender,empl_birth,empl_ssn1,empl_ssn2,empl_per_email,empl_per_phone,empl_addr,empl_join_date,file_key)
        VALUES
        <foreach collection="list" item = "excel" separator = ",">
            (#{excel.empl_name},#{excel.empl_id},#{excel.empl_pw},#{excel.empl_gender},#{excel.empl_birth},#{excel.empl_ssn1},#{excel.empl_ssn2},#{excel.empl_per_email},#{excel.empl_per_phone},#{excel.empl_addr},#{excel.empl_join_date},#{excel.file_key})
        </foreach>

    </insert>

    <select id="find_bank_idx" resultType="int">
        SELECT * FROM bank WHERE bank
    </select>

    <!--중복 사원 등록인지 검사-->
    <select id="if_member_exists" resultType="int">
        SELECT count(*) FROM employee WHERE empl_per_phone = #{phone_number}
    </select>
    
    <select id="get_member_exists" resultType="String">
        SELECT empl_name FROM employee WHERE empl_per_phone = #{phone_number}
    </select>
</mapper>