<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.approval.dao.ApprovalDAO">

    <!--옮기기-->
    <select id="form_list" resultType="Map">
        SELECT form_subject,form_idx FROM form
    </select>

    <select id="form" resultType="Map">
        SELECT form_idx, form_subject,form_content,form_handler_idx FROM form WHERE form_idx = #{idx}
    </select>


<!--결재선 선택 위한 부서 별 사원 및 직급 조회 쿼리-->
    <select id="highdept" resultType="Map">
        SELECT dept_idx,dept_name,dept_depth FROM department WHERE dept_depth = 2;
    </select>

    <select id="dept_allempl" resultType="Map">
        SELECT a.dept_idx,dp.dept_name,e.empl_idx,e.empl_name,p.position_idx,p.position_name,d.duty_idx,d.duty_name from employee e
           join appointment a on e.appolast_idx = a.appo_idx
           join position_ p on p.position_idx = a.position_idx
           join duty d on d.duty_idx = a.duty_idx
           JOIN department dp on a.dept_idx = dp.dept_idx
        where a.dept_idx = #{dept_idx} UNION SELECT a.dept_idx,dp.dept_name,e.empl_idx,e.empl_name,p.position_idx,p.position_name,d.duty_idx,d.duty_name from employee e
          join appointment a on e.appolast_idx = a.appo_idx
          join position_ p on p.position_idx = a.position_idx
          join duty d on d.duty_idx = a.duty_idx
          join department dp on a.dept_idx = dp.dept_idx
        where a.dept_idx IN (SELECT dept_idx FROM department WHERE dept_high = #{dept_idx});
    </select>
    
    <select id="form_list_searched" resultType="Map">
        SELECT form_subject,form_idx FROM form WHERE form_subject LIKE CONCAT('%',#{search_val},'%')
    </select>

    <select id="show_team" resultType="Map">
        SELECT dept_idx,dept_name,dept_depth,dept_high FROM department WHERE dept_high = #{dept_idx}
    </select>

    <select id="team_allempl" resultType="Map">
        SELECT a.dept_idx,dp.dept_name, e.empl_idx,e.empl_name,p.position_idx,p.position_name,d.duty_idx,d.duty_name from employee e
           join appointment a on e.appolast_idx = a.appo_idx
           join position_ p on p.position_idx = a.position_idx
           join duty d on d.duty_idx = a.duty_idx
           join department dp on dp.dept_idx =a.dept_idx
        where a.dept_idx = #{team_idx};
    </select>


    <!--내가 보낸 목록 조회 시 데이터 전달-->
    <!--보낸 목록 있는지 조회-->
    <select id="request_empl_count" resultType="int">
        SELECT COUNT(*) FROM document WHERE doc_empl_idx = #{empl_idx}
    </select>

    <!--받은 목록 있는지 조회-->

    <select id="receiver_empl_count" resultType="int">
        SELECT COUNT(*) FROM approval WHERE appr_receiver_idx = #{empl_idx}
    </select>

    <!--empl_idx의 사원의 정보 알아내기-->
    <select id="get_empl_info" resultType="Map">
        SELECT e.empl_idx,e.empl_name, a.dept_idx,a.position_idx, d.dept_name ,p.position_name from employee e
            join appointment a on e.appolast_idx = a.appo_idx
            join position_ p on a.position_idx = p.position_idx
            join department d on a.dept_idx = d.dept_idx
        WHERE e.empl_idx = #{empl_idx}
    </select>

    <!--보낸 리스트에 대한 정보 가져오기-->
    <select id="get_sent_list" resultType="Map">
        SELECT DISTINCT(a.doc_idx),d.doc_subject,d.doc_state,DATE_FORMAT(d.doc_update_date, '%Y-%m-%d %H:%i:%s') AS update_date,DATE_FORMAT(d.doc_end_date, '%Y-%m-%d %H:%i:%s') AS end_date,d.form_idx,f.form_subject FROM document d
          join approval a on d.doc_idx = a.doc_idx
          join form f on d.form_idx = f.form_idx
             WHERE doc_empl_idx = #{param};
    </select>

    <!--받은 리스트에 대한 정보 가져오기-->


    <!--승인/반려 상태 확인-->
    <select id="count_state" resultType="int">
        SELECT COUNT(*) FROM approval a WHERE doc_idx = #{doc_idx} AND appr_state = #{approval_state};
    </select>

    <select id="get_approval_state_time" resultType="String">
        SELECT DATE_FORMAT(appr_date, '%Y-%m-%d %H:%i:%s') AS appr_date FROM approval a WHERE doc_idx = #{sent_doc_idx} AND appr_state = #{approval_state} ORDER BY a.appr_order DESC LIMIT 1;
    </select>

    <select id="whether_final_approve" resultType="int">
        SELECT appr_state FROM approval WHERE appr_order = (SELECT max(appr_order) FROM approval WHERE doc_idx = #{sent_doc_idx}) AND doc_idx = #{sent_doc_idx};
    </select>

    <!-- 승인이 아닌 것 중 가장 마지막 결재의 읽음 날짜가 있는지 확인  -->
    <select id="get_read_date" resultType="int">
        SELECT count(appr_read_date) FROM approval WHERE appr_state = 0 AND doc_idx = #{sent_doc_idx} ORDER BY appr_order DESC LIMIT 1;
    </select>


    <!--받은 결재-->
    <!--전달 받은 결재 doc_idx 가져오기-->
    <select id="get_received_doc_idxs" resultType="String">
    </select>

</mapper>