<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.approval.dao.ApprovalResponseDAO">
    <!--폼 양식 내용 업데이트 - 직인 추가-->
    <update id="update_appr_content">
        UPDATE document SET doc_content = #{doc_content} WHERE doc_idx = #{doc_idx}
    </update>

    <select id="count_update_next_appr" resultType="int">
        SELECT COUNT (*) FROM approval WHERE doc_idx = #{doc_idx} AND appr_order = #{line_order}
    </select>

    <update id="update_next_appr">
        UPDATE approval SET appr_show = 1 WHERE doc_idx = #{doc_idx} AND appr_order = #{line_order}
    </update>

    <select id="get_next_appr" resultType="int">
        SELECT appr_receiver_idx FROM approval WHERE doc_idx = #{doc_idx} AND appr_order = #{line_order}
    </select>


    <update id="update_my_approval_state">
        UPDATE approval
        SET appr_state = 1, appr_date = #{formatted_date} WHERE doc_idx = #{doc_idx} AND appr_receiver_idx = #{empl_idx}
    </update>

    <update id="appr_reject_state">
        UPDATE approval SET appr_state = 2,appr_reason = #{reject_reason}
                            WHERE doc_idx=#{doc_idx} AND appr_receiver_idx = #{empl_idx}
    </update>

    <select id="count_top_line_order">
        SELECT COUNT(*) FROM approval WHERE doc_idx = #{doc_idx} AND appr_order > #{line_order}
    </select>

    <update id="update_top_line_order">
        UPDATE approval SET appr_state = 3 WHERE doc_idx = #{doc_idx} AND appr_order > #{line_order}
    </update>


</mapper>