<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.approval.dao.ApprovalDAO">

    <!--옮기기-->
    <select id="form_list" resultType="Map">
        SELECT form_subject,form_idx FROM form
    </select>

    <select id="form" resultType="Map">
        SELECT form_idx, form_subject,form_content,form_handler_idx FROM form WHERE form_idx = #{idx}
    </select>


<!--결재선 선택 위한 부서 별 사원 및 직급 조회 쿼리-->
    <select id="highdept" resultType="Map">
        SELECT dept_idx,dept_name,dept_depth FROM department WHERE dept_depth = 2;
    </select>

    <select id="dept_allempl" resultType="Map">
        SELECT a.dept_idx,dp.dept_name,e.empl_idx,e.empl_name,p.position_idx,p.position_name,d.duty_idx,d.duty_name from employee e
           join appointment a on e.appolast_idx = a.appo_idx
           join position_ p on p.position_idx = a.position_idx
           join duty d on d.duty_idx = a.duty_idx
           JOIN department dp on a.dept_idx = dp.dept_idx
        where a.dept_idx = #{dept_idx} UNION SELECT a.dept_idx,dp.dept_name,e.empl_idx,e.empl_name,p.position_idx,p.position_name,d.duty_idx,d.duty_name from employee e
          join appointment a on e.appolast_idx = a.appo_idx
          join position_ p on p.position_idx = a.position_idx
          join duty d on d.duty_idx = a.duty_idx
          join department dp on a.dept_idx = dp.dept_idx
        where a.dept_idx IN (SELECT dept_idx FROM department WHERE dept_high = #{dept_idx});
    </select>
    
    <select id="form_list_searched" resultType="Map">
        SELECT form_subject,form_idx FROM form WHERE form_subject LIKE CONCAT('%',#{search_val},'%')
    </select>

    <select id="show_team" resultType="Map">
        SELECT dept_idx,dept_name,dept_depth,dept_high FROM department WHERE dept_high = #{dept_idx}
    </select>

    <select id="team_allempl" resultType="Map">
        SELECT a.dept_idx,dp.dept_name, e.empl_idx,e.empl_name,p.position_idx,p.position_name,d.duty_idx,d.duty_name from employee e
           join appointment a on e.appolast_idx = a.appo_idx
           join position_ p on p.position_idx = a.position_idx
           join duty d on d.duty_idx = a.duty_idx
           join department dp on dp.dept_idx =a.dept_idx
        where a.dept_idx = #{team_idx};
    </select>
</mapper>