.rte-toolbar-document{
    height: 700px;
}

.rte-toolbar-none{
    height: 230px;
}

.rte-toolbar-none.size-min{
    height: 130px;
    min-height: 130px;
}

.rte-editable table,
.rte-editable table tr,
.rte-editable table tr td{
    border: 1px solid #000;
}