#module_quill_toolbar,
#module_quill_editor,
#module_quill_counter{
    border: var(--tst-border-width) var(--tst-border-style) var(--tst-border-color);
}



#module_quill_toolbar{
    padding: 6px 10px 4px;
    border-radius: var(--tst-border-radius) var(--tst-border-radius) 0 0;
}

#module_quill_toolbar > * {
    display: inline-block;
}

#module_quill_toolbar button{
    width: fit-content;
    padding: 6px 5px;
    background: none;
    border: none;
    font-size: 16px;
    vertical-align: middle;
}

#module_quill_toolbar span.toolbar_seperator{
    margin: 0 4px;
    color: var(--tst-color-subtle);
}



#module_quill_editor{
    height: 150px;
    border-radius: var(--tst-border-radius) var(--tst-border-radius) 0 0;
    overflow-x: hidden;
}

#module_quill_toolbar + #module_quill_editor{
    height: 260px;
    margin-top: -1px;
    border-radius: 0;
}

#module_quill_editor .ql-editor{
    overflow-x: auto;
}

#module_quill_editor .ql-editor strong{
    font-weight: 900;
}



#module_quill_counter{
    margin: -1px 0 10px;
    padding: 0 5px 2px;
    border-radius: 0 0 var(--tst-border-radius) var(--tst-border-radius);
    font-size: 11px;
    font-weight: 800;
    text-align: right;
}