.tst_table{
    width: 100%;
    border-collapse: collapse;
    color: var(--tst-body-color);
    font-size: var(--tst-body-font-size);
    font-weight: var(--tst-body-font-weight);
    font-family: var(--tst-font-sans-serif), serif;
    line-height: var(--tst-body-line-height);
}

.tst_table tbody tr{
    border-bottom: var(--tst-border-width) var(--tst-border-style) var(--tst-border-color);
}

.tst_table thead th{
    padding: 4px 10px;
    background-color: var(--tst-color-medium);
    font-size: var(--tst-body-font-size);
    color: var(--tst-color-white);
}

.tst_table tbody th{
    padding: 8px 10px;
    text-align: center;
    font-weight: 700;
}

.tst_table tbody td,
.tst_table tfoot td{
    padding: 8px 10px;
    text-align: center;
}

.tst_table tbody th:last-child,
.tst_table tbody td:last-child{
    padding: 8px 0 8px 10px;
}

.tst_table tbody th:first-child,
.tst_table tbody td:first-child{
    padding: 8px 10px 8px 0;
}

.tst_table tfoot td:first-child{
    padding: 8px 0;
}

.tst_table.table_align_left tbody th,
.tst_table.table_align_left tbody td,
.tst_table .td_align_left{
    text-align: left;
}

.tst_table .td_align_right{
    text-align: right;
}

.tst_table .td_align_top{
    vertical-align: top;
}

.tst_table.table_emphasis tr:hover {
    background-color: var(--tst-color-subtle);
}

.tst_table td.td_no_data:first-child,
.tst_table td.td_no_data:last-child{
    padding: 240px 0;
}

.tst_table .td_no_data p{
    color: var(--tst-color-medium);
    font-size: 64px;
    margin: 0 0 36px;
}

.tst_table .td_no_data h3{
    color: var(--tst-color-medium);
}

.tst_table .list_no_desc{
    margin: 0;
}