.tst_search_container{
    margin: 0 0 var(--tst-margin-vertical);
    padding: 0;
    width: 180px;
    display: flex;
}

.tst_search_container.width_full{
    width: 100%;
}

.tst_search_container .tst_search_input,
.tst_search_container .tst_search_icon{
    margin: 0;
    padding: 0;
}

.tst_search_container .tst_search_input{
    width: calc(100% - 16px);
}

.tst_search_container .tst_search_icon{
    width: 16px;
}

.tst_search_container .tst_search_icon i{
    position: relative;
    top: 5px;
}