/* tst_search_container */

.tst_search_container{
    margin: 0 0 var(--tst-margin-vertical);
    padding: 0;
    width: auto;
    display: flex;
}

.tst_search_container.width_full{
    width: 100%;
}

.tst_search_container .tst_search_select,
.tst_search_container .tst_search_input,
.tst_search_container .tst_search_icon{
    margin: 0;
    padding: 0;
}

.tst_search_container .tst_search_select{
    width: 120px;
    margin: 0 10px 0 0;
}

.tst_search_container .tst_search_select select{
    width: 100%;
    margin: 3px 0 0;
    padding: 0 0 4px;
    border: none;
    border-bottom: var(--tst-border-width) var(--tst-border-style) var(--tst-color-dark);
    font-size: 12px;
}

.tst_search_container .tst_search_input{
    width: 280px;
}

.tst_search_container.width_full .tst_search_input{
    width: 100%;
}

.tst_search_container .tst_search_input input{
    padding: 0 0 4px;
    border: none;
    border-bottom: var(--tst-border-width) var(--tst-border-style) var(--tst-color-dark);
    border-radius: 0;
}

.tst_search_container .tst_search_icon{
    width: 16px;
}

.tst_search_container .tst_search_icon .btn_icon{
    width: 100%;
    margin: 0;
    padding: 5px 0 0;
    border: none;
    background: none;
}

.tst_search_container select.btn_secondary{
    padding: 4px 4px 3px;
    border-radius: var(--tst-border-radius);
    position: relative;
    top: -3px;
}



/* tst_filtering_container */

.tst_filtering_container{
    width: 100%;
    text-align: right;
    position: relative;
    top: 4px;
}

.tst_filtering_container i{
    margin-right: 6px;
    font-size: 16px;
    vertical-align: middle;
}