.tst_contents_inner{
    position: relative;
}

select.meeting_room_select{
    width: 220px;
    position: absolute;
    left: calc(6px + var(--tst-container-margin));
    z-index: 100;
}

select.meeting_room_select.fc_month{
    top: calc(57px + var(--tst-container-margin));
}

select.meeting_room_select.fc_day{
    top: calc(77px + var(--tst-container-margin));
}

.how_to_reserv{
    position: absolute;
    top: calc(var(--tst-container-margin));
    right: calc(6px + var(--tst-container-margin));
    z-index: 100;
}

.filtering_only_me{
    width: 220px;
    position: absolute;
    right: calc(6px + var(--tst-container-margin));
    z-index: 100;
}

.filtering_only_me.fc_month{
    top: calc(100px + var(--tst-container-margin));
}

.filtering_only_me.fc_day{
    top: calc(100px + var(--tst-container-margin));
}



/* Full Calendar */

.fc{
    position: relative;
}



/* fc-header-toolbar */

.fc .fc-toolbar.fc-header-toolbar{
    margin: 0 auto var(--tst-margin-vertical);
}

.fc .fc-header-toolbar button{
    width: fit-content;
    background: none;
    border: none;
    color: var(--tst-body-color);
}

.fc .fc-header-toolbar .fc-toolbar-chunk > div > * {
    display: inline-block;
    vertical-align: middle;
}

.fc .fc-header-toolbar .fc-toolbar-title{
    margin: 0 32px;
    line-height: 1.2em;
}

.fc .fc-header-toolbar .fc-toolbar-title span{
    display: block;
    text-align: center;
}

.fc .fc-header-toolbar .fc-toolbar-title span.year-month{
    font-size: 20px;
    font-weight: 700;
}

.fc .fc-header-toolbar .fc-toolbar-title span.day-range{
    font-size: var(--tst-body-font-size);
    font-weight: 400;
}

.fc .fc-header-toolbar .fc-today-button{
    background-color: var(--tst-color-dark);
    color: var(--tst-color-white);
}



/* fc-time table */

.fc .fc-scrollgrid{
    border: none;
}



/* fc-thead */

.fc th.fc-timegrid-axis{
    background: none;
    border: none;
}

.fc th.fc-day{
    background-color: var(--tst-color-medium);
    border: var(--tst-border-width) var(--tst-border-style) var(--tst-color-medium);
    color: var(--tst-color-white);
    font-weight: var(--tst-body-font-weight);
}

.fc th.fc-day.fc-day-today{
    background-color: var(--tst-color-dark);
    font-weight: 700;
}



/* fc-tbody */

.fc .fc-view-harness{
    height: calc(100vh - 250px) !important;
}

.fc .fc-view .fc-timegrid-slots table{
    height: calc(100vh - 278px);
    border: none;
}

.fc .fc-view .fc-timegrid-slots .fc-timegrid-slot.fc-timegrid-slot-label{
    border: none;
    vertical-align: top;
    position: relative;
    top: -10px;
    overflow: visible;
}

.fc .fc-view .fc-timegrid-slots tr:nth-child(odd) .fc-timegrid-slot.fc-timegrid-slot-lane{
    border: none;
    border-bottom: var(--tst-border-width) dashed var(--tst-color-medium);
}

.fc .fc-view .fc-timegrid-slots tr:nth-child(even) .fc-timegrid-slot.fc-timegrid-slot-lane{
    border: none;
    border-bottom: var(--tst-border-width) var(--tst-border-style) var(--tst-color-medium);
}

.fc .fc-view .fc-timegrid-cols .fc-day-today{
    background: none;
}

.fc .fc-view .fc-timegrid-cols .fc-event{
    background-color: var(--tst-color-subtle);
    border: var(--tst-border-width) var(--tst-border-style) var(--tst-color-subtle);
    border-radius: var(--tst-border-radius);
}

.fc .fc-view .fc-timegrid-cols .fc-event .fc-event-main .fc-event-main-frame{
    color: var(--tst-body-color);
    font-size: var(--tst-body-font-size);
    font-weight: var(--tst-body-font-weight);
}