<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.regdata.dao.ManageFormDAO">

    <!-- 문서 양식 목록 -->
    <select id="allCount" resultType="int">
        SELECT CEIL(COUNT(form_idx) / #{param1}) FROM form
        <where>
            <if test="param4.equals('use')">
                form_state = 1
            </if>
            <if test="param4.equals('disuse')">
                form_state = 0
            </if>
            <if test="param4.equals('wip')">
                form_state = 2 AND form_writer_idx = #{param5}
            </if>
        </where>
        <if test="param3 != null and !param3.equals('') and param2.equals('form_subject')">
            AND form_subject LIKE CONCAT('%', #{param3}, '%')
        </if>
        <if test="param3 != null and !param3.equals('') and param2.equals('form_content')">
            AND form_content LIKE CONCAT('%', #{param3}, '%')
        </if>
    </select>

    <select id="countIdx" resultType="int">
        SELECT COUNT(form_idx) FROM form
        <where>
            <if test="param3.equals('use')">
                form_state = 1
            </if>
            <if test="param3.equals('disuse')">
                form_state = 0
            </if>
            <if test="param3.equals('wip')">
                form_state = 2 AND form_writer_idx = #{param4}
            </if>
        </where>
        <if test="param2 != null and !param2.equals('') and param1.equals('form_subject')">
            AND form_subject LIKE CONCAT('%', #{param2}, '%')
        </if>
        <if test="param2 != null and !param2.equals('') and param1.equals('form_content')">
            AND form_content LIKE CONCAT('%', #{param2}, '%')
        </if>
    </select>

    <select id="list" resultType="com.toast.regdata.dto.ManageFormDTO">
        SELECT f.form_idx, f.form_subject,
            (SELECT l.dept_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 1) as 'dept_idx_1',
            (SELECT (SELECT d.dept_name FROM department d WHERE d.dept_idx = l.dept_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 1) as 'dept_name_1',
            (SELECT l.duty_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 1) as 'duty_idx_1',
            (SELECT (SELECT u.duty_name FROM duty u WHERE u.duty_idx = l.duty_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 1) as 'duty_name_1',
            (SELECT l.dept_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 2) as 'dept_idx_2',
            (SELECT (SELECT d.dept_name FROM department d WHERE d.dept_idx = l.dept_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 2) as 'dept_name_2',
            (SELECT l.duty_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 2) as 'duty_idx_2',
            (SELECT (SELECT u.duty_name FROM duty u WHERE u.duty_idx = l.duty_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 2) as 'duty_name_2',
            (SELECT l.dept_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 3) as 'dept_idx_3',
            (SELECT (SELECT d.dept_name FROM department d WHERE d.dept_idx = l.dept_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 3) as 'dept_name_3',
            (SELECT l.duty_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 3) as 'duty_idx_3',
            (SELECT (SELECT u.duty_name FROM duty u WHERE u.duty_idx = l.duty_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 3) as 'duty_name_3'
        FROM form f
        <where>
            <if test="param5.equals('use')">
                form_state = 1
            </if>
            <if test="param5.equals('disuse')">
                form_state = 0
            </if>
            <if test="param5.equals('wip')">
                form_state = 2 AND form_writer_idx = #{param6}
            </if>
        </where>
        <if test="param4 != null and !param4.equals('') and param3.equals('form_subject')">
            AND form_subject LIKE CONCAT('%', #{param4}, '%')
        </if>
        <if test="param4 != null and !param4.equals('') and param3.equals('form_content')">
            AND form_content LIKE CONCAT('%', #{param4}, '%')
        </if>
        ORDER BY f.form_idx DESC LIMIT #{param1} OFFSET #{param2}
    </select>

    <select id="preview" resultType="String">
        SELECT form_content FROM form WHERE form_idx = #{param1}
    </select>

    <!-- 문서 양식 상세보기 -->
    <select id="detail" resultType="com.toast.regdata.dto.ManageFormDTO">
        SELECT f.form_idx, f.form_subject, f.form_content, f.form_handler_idx, f.form_writer_idx, f.form_write_date, f.form_updater_idx, f.form_update_date, f.form_state,
        (SELECT e.empl_name FROM employee e WHERE e.empl_idx = f.form_writer_idx) as 'form_writer_name',
        (SELECT d.dept_name FROM department d WHERE d.dept_idx = f.form_writer_dept) as 'form_writer_dept_name',
        (SELECT p.position_name FROM position_ p WHERE p.position_idx = f.form_writer_position) as 'form_writer_position_name',
        (SELECT e.empl_name FROM employee e WHERE e.empl_idx = f.form_updater_idx) as 'form_updater_name',
        (SELECT d.dept_name FROM department d WHERE d.dept_idx = f.form_updater_dept) as 'form_updater_dept_name',
        (SELECT p.position_name FROM position_ p WHERE p.position_idx = f.form_updater_position) as 'form_updater_position_name',
        (SELECT e.empl_name FROM employee e WHERE e.empl_idx = f.form_handler_idx) as 'empl_name',
        (SELECT l.dept_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 1) as 'dept_idx_1',
        (SELECT (SELECT d.dept_name FROM department d WHERE d.dept_idx = l.dept_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 1) as 'dept_name_1',
        (SELECT l.duty_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 1) as 'duty_idx_1',
        (SELECT (SELECT u.duty_name FROM duty u WHERE u.duty_idx = l.duty_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 1) as 'duty_name_1',
        (SELECT l.dept_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 2) as 'dept_idx_2',
        (SELECT (SELECT d.dept_name FROM department d WHERE d.dept_idx = l.dept_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 2) as 'dept_name_2',
        (SELECT l.duty_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 2) as 'duty_idx_2',
        (SELECT (SELECT u.duty_name FROM duty u WHERE u.duty_idx = l.duty_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 2) as 'duty_name_2',
        (SELECT l.dept_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 3) as 'dept_idx_3',
        (SELECT (SELECT d.dept_name FROM department d WHERE d.dept_idx = l.dept_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 3) as 'dept_name_3',
        (SELECT l.duty_idx FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 3) as 'duty_idx_3',
        (SELECT (SELECT u.duty_name FROM duty u WHERE u.duty_idx = l.duty_idx) FROM g_approval_line l WHERE l.form_idx = f.form_idx AND l.gline_order = 3) as 'duty_name_3'
        FROM form f WHERE f.form_idx = #{param1}
    </select>

    <!-- 문서 양식 작성하기 -->
    <select id="getIdx" resultType="int">
        SELECT empl_idx FROM employee WHERE empl_id = #{param1}
    </select>

    <select id="getDeptIdx" resultType="int">
        SELECT dept_idx FROM appointment WHERE appo_empl_idx = #{param1} ORDER BY appo_idx DESC LIMIT 1
    </select>

    <select id="getPositIdx" resultType="int">
        SELECT position_idx FROM appointment WHERE appo_empl_idx = #{param1} ORDER BY appo_idx DESC LIMIT 1
    </select>

    <insert id="write" parameterType="com.toast.regdata.dto.ManageFormDTO" useGeneratedKeys="true" keyColumn="form_idx" keyProperty="form_idx">
        INSERT INTO form (form_subject, form_content, form_writer_idx, form_writer_dept, form_writer_position, form_write_date)
            VALUES (#{form_subject}, #{form_content}, #{form_writer_idx}, #{form_writer_dept}, #{form_writer_position}, current_timestamp)
    </insert>

    <insert id="setLine1">
        INSERT INTO g_approval_line (form_idx, gline_order) VALUES (#{param1}, 1)
    </insert>

    <insert id="setLine2">
        INSERT INTO g_approval_line (form_idx, gline_order) VALUES (#{param1}, 2)
    </insert>

    <insert id="setLine3">
        INSERT INTO g_approval_line (form_idx, gline_order) VALUES (#{param1}, 3)
    </insert>

    <!-- 문서 양식 수정하기 -->
    <update id="update" parameterType="com.toast.regdata.dto.ManageFormDTO">
        UPDATE form SET form_subject = #{form_subject}, form_content = #{form_content}, form_updater_idx = #{form_updater_idx},
                        form_updater_dept = #{form_updater_dept}, form_updater_position = #{form_updater_position}, form_update_date = current_timestamp
        WHERE form_idx = #{form_idx}
    </update>

    <!-- 결재선 설정하기 -->
    <select id="callDept" resultType="com.toast.regdata.dto.ManageFormDTO">
        SELECT dept_idx, dept_name FROM department WHERE dept_high = #{param1} AND dept_state = 1
    </select>

    <select id="callDeptName" resultType="String">
        SELECT dept_name FROM department WHERE dept_idx = #{param1}
    </select>

    <update id="setLine" parameterType="map">
        UPDATE g_approval_line SET dept_idx =
            <if test="dept_idx == -1">0</if>
            <if test="dept_idx >= 0">#{dept_idx}</if>,
            duty_idx = #{duty_idx} WHERE form_idx = #{form_idx} AND gline_order = #{gline_order}
    </update>

    <select id="getState" resultType="int">
        SELECT form_state FROM form WHERE form_idx = #{param1}
    </select>

    <!-- 작성중인 문서 양식 등록하기 -->
    <update id="register">
        UPDATE form SET form_state = 1 WHERE form_idx = #{param1}
    </update>

    <!-- 작성중인 문서 양식 삭제하기 -->
    <delete id="deleteForm">
        DELETE FROM form WHERE form_idx = #{param1}
    </delete>

    <delete id="deleteLines">
        DELETE FROM g_approval_line WHERE form_idx = #{param1}
    </delete>

    <!-- 등록한 문서 양식 삭제하기 (사용하지 않기) -->
    <update id="disuse">
        UPDATE form SET form_state = 0 WHERE form_idx = #{param1}
    </update>

    <!-- 문서 양식 복사하기 -->
    <select id="copySubject" resultType="String">
        SELECT form_subject FROM form WHERE form_idx = #{param1}
    </select>

    <select id="copyContent" resultType="String">
        SELECT form_content FROM form WHERE form_idx = #{param1}
    </select>

</mapper>