<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.toast.work.dao.WorkDAO">

		<!--   근무 시작 시간 저장   -->
		<insert id="saveStartTime"> 
			INSERT INTO attendance (empl_idx, attend_date, work_date) 
			VALUES (#{empl_idx}, #{attend_date}, #{sqlDate}) 
		</insert>
		
		<!--   근무 일지 저장   -->
		<update id="updateWorkDay"> 
			UPDATE attendance 
			SET leave_date = #{leave_date}, 
			total_hours = #{total_hours}, 
			overtime_hours = #{overtime_hours} 
			WHERE empl_idx = #{empl_idx} AND attend_date = #{attend_date} 
		</update>
		
		<!--   일일 근무시간 조회   -->
		<select id="getDailyWorkTimes"> 
			SELECT attend_date, leave_date, work_date 
			FROM attendance 
			WHERE empl_idx = #{empl_idx} 
			ORDER BY start_time DESC 
		</select>
		
		<!--   주간 근무시간 조회   -->
		<select id="getWeeklyWorkTime"> 
			SELECT SUM(work_time) 
			FROM attendance 
			WHERE empl_idx = #{empl_idx} AND WEEK(attend_date) = WEEK(CURDATE()) 
		</select>
		
		<!--   최근 출근 시각 조회   -->
		<select id="getStartTimeForEmployee"> 
			SELECT attend_date 
			FROM attendance 
			WHERE empl_idx = #{empl_idx} 
			ORDER BY attend_date DESC 
			LIMIT 1 
		</select>
		
		<select id="getWorkRecord" resultType="map"> 
			SELECT attend_date, leave_date, work_date, total_hours, overtime_hours 
			FROM attendance 
			WHERE empl_idx = #{empl_idx} 
		</select>
		
		<select id="getWorkDate" parameterType="int">
			SELECT work_date
			FROM attendance
			WHERE empl_idx = #{empl_idx}
		</select>
		
	</mapper>