<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.management.dao.DepartmentDAO">

<insert id="organizationAdd" parameterType="Map">
	 insert into department (dept_name, dept_duty, dept_addr, dept_high) values (
        #{dept_name},
        #{dept_duty},
        #{dept_addr},
        <choose>
            <when test="dept_high !=1">
                #{dept_high}
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>
    );
</insert>
<!--  
<insert id="organizationDudyAdd">
	insert into duty (duty_name) values (#{param1})
</insert>
-->
<select id="getduty" resultType="com.toast.management.dto.DutyDTO">
	select * from duty
</select>

<select id="getdept" resultType="com.toast.management.dto.DepartmentDTO">
	select * from department
</select>

<select id="getposi" resultType="com.toast.management.dto.PositionDTO">
	select * from position_
</select>

<select id="getdeptinfo" resultType="com.toast.management.dto.DepartmentDTO">
	select * from department where dept_idx = #{param1}
</select>

<update id="organizationUpdate" parameterType="Map">
	update department set dept_name = #{dept_name}, dept_duty = #{dept_duty}, dept_high = #{dept_high}, dept_addr = #{dept_addr} where dept_idx = #{dept_idx}
</update>

<select id="getdeptTree" resultType="com.toast.management.dto.DeptInfoTreeDTO" >
SELECT 
    d.dept_idx,  
    d.dept_name,  
    CASE 
        WHEN head_e.empl_name IS NOT NULL THEN duty.duty_name  
        ELSE NULL  
    END AS dept_duty,
    head_e.empl_name AS dept_head_name, 
    high_d.dept_name AS high_dept_name, 
    high_head_e.empl_name AS high_dept_empl_name,  
    COUNT(DISTINCT a.appo_empl_idx) AS total_dept_count  
FROM appointment a
LEFT JOIN department d ON a.dept_idx = d.dept_idx
LEFT JOIN duty ON a.duty_idx = duty.duty_idx 
LEFT JOIN employee head_e ON d.dept_head_idx = head_e.empl_idx
LEFT JOIN department high_d ON d.dept_high = high_d.dept_idx
LEFT JOIN employee high_head_e ON high_d.dept_head_idx = high_head_e.empl_idx
WHERE a.transfer_date IS NULL
GROUP BY 
    d.dept_idx 
</select>


</mapper>