<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.management.dao.EmployeeDAO">

<insert id="employeeAdd" parameterType="Map">
	insert into employee (empl_name,empl_id,empl_pw,empl_gender,empl_birth,empl_ssn1,empl_ssn2,empl_cmp_phone,empl_cmp_email,empl_per_phone,empl_per_email,empl_join_date,bank_idx,empl_account,empl_addr,file_key,empl_stamp,empl_profile)
	values (#{empl_name},#{empl_id},#{empl_pw},#{empl_gender},#{empl_birth},#{empl_ssn1},#{empl_ssn2},#{empl_cmp_phone},#{empl_cmp_email},#{empl_per_phone},#{empl_per_email},#{empl_join_date},#{bank_idx},#{empl_account},#{empl_addr},#{file_key},#{empl_stamp},#{empl_profile})
</insert>

<select id="employeeDetail" resultType="com.toast.management.dto.EmployeeDTO">
	select * from employee where empl_idx = #{param1}
</select>

<select id="employeeAppolast" resultType="com.toast.management.dto.AppointmentDTO">
	SELECT 
    a.appo_idx,
    a.appo_empl_idx,
    a.dept_idx,
    d.dept_name,
    a.position_idx,
    p.position_name,
    a.duty_idx,
    t.duty_name,
    a.movein_date,
    a.transfer_date,
    a.appo_handler_idx,
    a.update_date
FROM 
    appointment a
LEFT JOIN 
    department d ON a.dept_idx = d.dept_idx
LEFT JOIN 
    position_ p ON a.position_idx = p.position_idx
LEFT JOIN 
    duty t ON a.duty_idx = t.duty_idx
WHERE 
    a.appo_empl_idx = #{param1}
ORDER BY 
    a.update_date DESC
	LIMIT 1
</select>

<select id="employeeAppoList" resultType="com.toast.management.dto.AppointmentDTO">
	SELECT 
    a.appo_idx,
    a.appo_empl_idx,
    a.empl_job,
    a.dept_idx,
    d.dept_name,
    a.position_idx,
    p.position_name,
    a.duty_idx,
    t.duty_name,
    a.movein_date,
    a.transfer_date,
    a.appo_handler_idx,
    a.update_date
FROM 
    appointment a
LEFT JOIN 
    department d ON a.dept_idx = d.dept_idx
LEFT JOIN 
    position_ p ON a.position_idx = p.position_idx
LEFT JOIN 
    duty t ON a.duty_idx = t.duty_idx
WHERE 
    a.appo_empl_idx = #{param1}
ORDER BY 
    a.update_date DESC
</select>

<select id="employeeFile" resultType="com.toast.management.dto.MainFileDTO">
	select * from file where file_key = #{param1}
</select>

<insert id="employeeAppoDo">
	insert into appointment (appo_empl_idx,dept_idx,position_idx,duty_idx,movein_date,update_date,empl_job) values (#{param1},#{param2},#{param3},#{param4},#{param5},now(),#{param6})
</insert>

<update id="employeeChangeDo">
	update employee set statement_idx = #{param2} where empl_idx = #{param1}
</update>

<update id="employeeResigDo">
update employee set statement_idx = #{param2}, empl_resig_date = now() where empl_idx = #{param1}
</update>

<update id="employeeTransfer">
update appointment set transfer_date = #{param2} where appo_idx = #{param1}
</update>

<update id="deptHeadAdd">
update department set dept_head_idx = #{param2} where dept_idx = #{param1}
</update>

<select id="deptheadcheck">
select count(dept_idx) from department where dept_head_idx = #{param1}
</select>

<update id="deptheadmoveout">
update department set dept_head_idx = null where dept_head_idx = #{param1}
</update>

<select id="getemplUploadedFiles" resultType="com.toast.member.dto.FileDTO">
SELECT file_key, ori_filename, new_filename, file_type, file_addr
	    FROM file
	    WHERE file_key = #{param1}
</select>

<update id="emplStampUpload">
	update employee set empl_stamp = #{param1} where empl_idx = #{param2}
</update>

<delete id="emplFileDel">
	delete from file where new_filename = #{param1}
</delete>

<update id="employeeDutyUpdate">
	update employee set empl_job = #{param2} where empl_idx = #{param1}
</update>

<select id="getEmployeeList" resultType="com.toast.management.dto.EmployeeDetailDTO">
select 
	 e.empl_idx,
	 e.empl_name,
	 e.empl_id,
	 e.empl_pw,
	 e.empl_gender,
	 e.empl_birth,
	  e.empl_ssn1,
	  e.empl_ssn2,
	  e.bank_idx,
	  e.empl_account,
	  e.empl_cmp_email,
	  e.empl_cmp_phone,
	  e.empl_per_email,
	  e.empl_per_phone,
	  e.empl_addr,
	  e.statement_idx,
	  e.empl_join_date,
	  e.empl_resig_date,
	  e.empl_job,
	  e.empl_stamp,
	  e.empl_profile,
	  e.empl_changepw,
	  e.file_key,
	  e.appolast_idx,
	  d.dept_idx,
	  d.dept_name,
	 du.duty_idx,
	  du.duty_name,
	  p.position_idx,
	  p.position_name
from employee e
LEFT join appointment a on a.appo_idx = e.appolast_idx
LEFT join department d on d.dept_idx = a.dept_idx
LEFT join duty du on du.duty_idx = a.duty_idx
LEFT join position_ p on p.position_idx = a.position_idx
	  
</select>

<insert id="emplfileUpload" parameterType="com.toast.member.dto.FileDTO">
	INSERT INTO file(file_key, uploader_idx, ori_filename, new_filename, file_type, file_addr, file_size)
			VALUES(#{file_key}, #{uploader_idx}, #{ori_filename}, #{new_filename}, #{file_type}, #{file_addr}, #{file_size})
</insert>

<select id="getStaffList" resultType="com.toast.management.dto.EmployeeDetailDTO">
	select 
	 e.empl_idx,
	 e.empl_name,
	 e.empl_id,
	 e.empl_pw,
	 e.empl_gender,
	 e.empl_birth,
	  e.empl_ssn1,
	  e.empl_ssn2,
	  e.bank_idx,
	  e.empl_account,
	  e.empl_cmp_email,
	  e.empl_cmp_phone,
	  e.empl_per_email,
	  e.empl_per_phone,
	  e.empl_addr,
	  e.statement_idx,
	  e.empl_join_date,
	  e.empl_resig_date,
	  e.empl_job,
	  e.empl_stamp,
	  e.empl_profile,
	  e.empl_changepw,
	  e.file_key,
	  e.appolast_idx,
	  d.dept_idx,
	  d.dept_name,
	 du.duty_idx,
	  du.duty_name,
	  p.position_idx,
	  p.position_name
from employee e
LEFT join appointment a on a.appo_idx = e.appolast_idx
LEFT join department d on d.dept_idx = a.dept_idx
LEFT join duty du on du.duty_idx = a.duty_idx
LEFT join position_ p on p.position_idx = a.position_idx
	  where a.dept_idx = #{param1} and e.statement_idx in(1,2)
</select>

<select id="getFilteredStaffList" resultType="com.toast.management.dto.EmployeeDetailDTO">
   SELECT 
            e.empl_idx,
            e.empl_name,
            e.empl_id,
            e.empl_cmp_email,
            e.empl_cmp_phone,
            d.dept_name,
            du.duty_name,
            p.position_name
        FROM 
            employee e
        LEFT JOIN 
            appointment a ON a.appo_idx = e.appolast_idx
        LEFT JOIN 
            department d ON d.dept_idx = a.dept_idx
        LEFT JOIN 
            duty du ON du.duty_idx = a.duty_idx
        LEFT JOIN 
            position_ p ON p.position_idx = a.position_idx
        WHERE 
            1=1
            <if test="deptIdx != null and deptIdx != ''">
                AND a.dept_idx = #{deptIdx}
            </if>
            <if test="searchKey != null and searchValue != null and searchKey != '' and searchValue != ''">
                <choose>
                    <when test="searchKey == 'empl_name'">
                        AND e.empl_name LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'empl_cmp_email'">
                        AND e.empl_cmp_email LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                   
                </choose>
            </if>
</select>

</mapper>