<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.management.dao.ProjectDAO">


<select id="searchByTeamName">
SELECT 
    t.team_name,
    t.team_duty,
    t.calup_date,
    t.deletion_date,
    e.empl_name AS team_head_name,
    e.empl_cmp_phone AS head_cmp_phone,
    e.empl_cmp_email AS head_cmp_email,
    p.position_name,
    d.duty_name,
    COUNT(tm.teammem_empl_idx) AS team_member_count
FROM project_team t
JOIN employee e ON t.team_head_idx = e.empl_idx
JOIN appointment a ON a.appo_idx = e.appolast_idx
JOIN duty d ON d.duty_idx = a.duty_idx
JOIN position_ p ON p.position_idx = a.position_idx
LEFT JOIN team_members tm ON tm.team_idx = t.team_idx
WHERE t.team_name LIKE CONCAT('%', #{param1}, '%')  
GROUP BY 
    t.team_name,
    t.team_duty,
    t.calup_date,
    t.deletion_date,
    e.empl_name,
    p.position_name,
    d.duty_name;
</select>


<select id="searchByTeamHead">
SELECT 
    t.team_name,
    t.team_duty,
    t.calup_date,
    t.deletion_date,
    e.empl_name AS team_head_name,
    e.empl_cmp_phone AS head_cmp_phone,
    e.empl_cmp_email AS head_cmp_email,
    p.position_name,
    d.duty_name,
    COUNT(tm.teammem_empl_idx) AS team_member_count
FROM project_team t
JOIN employee e ON t.team_head_idx = e.empl_idx
JOIN appointment a ON a.appo_idx = e.appolast_idx
JOIN duty d ON d.duty_idx = a.duty_idx
JOIN position_ p ON p.position_idx = a.position_idx
LEFT JOIN team_members tm ON tm.team_idx = t.team_idx
WHERE e.empl_name LIKE CONCAT('%', #{param1}, '%')
GROUP BY 
    t.team_name,
    t.team_duty,
    t.calup_date,
    t.deletion_date,
    e.empl_name,
    p.position_name,
    d.duty_name;
</select>

<select id="getAllTeams">
SELECT 
    t.team_name,
    t.team_duty,
    t.calup_date,
    t.deletion_date,
    e.empl_name AS team_head_name,
    e.empl_cmp_phone AS head_cmp_phone,
    e.empl_cmp_email AS head_cmp_email,
    p.position_name,
    d.duty_name,
    COUNT(tm.teammem_empl_idx) AS team_member_count
FROM project_team t
JOIN employee e ON t.team_head_idx = e.empl_idx
JOIN appointment a ON a.appo_idx = e.appolast_idx
JOIN duty d ON d.duty_idx = a.duty_idx
JOIN position_ p ON p.position_idx = a.position_idx
LEFT JOIN team_members tm ON tm.team_idx = t.team_idx
GROUP BY 
    t.team_name,
    t.team_duty,
    t.calup_date,
    t.deletion_date,
    e.empl_name,
    p.position_name,
    d.duty_name;

</select>

<insert id="projectTeamAddDo" parameterType="Map">
	insert into project_team (team_name,team_duty,team_head_idx,calup_date,deletion_date) values (#{team_name},#{team_duty},#{team_head_idx},#{calup_date},#{deletion_date})
</insert>

<select id="projectTeamInfo" resultType="com.toast.management.dto.ProjectInfoDTO">

</select>


</mapper>